<h1>Prep a new plate here!</h1> 
<b></b>This should be the general name of your plate.</b><br><br>


<%= form_for @plate, method: :post do |f| %>
<b><%= f.label :name %></b>
<b><%= f.text_field :name %> <br></b>
<b><%= f.label :category %></b>
<b><%= f.text_field :category %> <br></b>
<b><%= f.label :username %></b>
<%= f.collection_select(:user_id, User.all, :id, :username) %> <br>
<%= f.submit %>
<% end %>