<h1>Welcome to Fav-A-Flav!</h1>

<%= form_tag("/login", method: "post") do %>

<%= label_tag(:username, "Username:") %>
<%= text_field_tag(:username) %>

<%= label_tag(:password, "Password:") %>
<%= password_field_tag(:password) %>

<%= submit_tag("Login") %> <br><br>

<b>New to Fav-A-Flav??</b>
<b><%= link_to "Signup up here!", new_user_path %></b>
<% end %> 