<h1> Current list of Users</h1>

<ul>
    <% @users.each do |user| %>
    <h2>Name:</h2><b><%= user.name %></b>
    <h2>Username:</h2> <b><%= user.username %></b>
    <h2>Location:</h2> <b><%= user.location %></b>
    <h2>Favorite Food:</h2> <b><%= user.favorite_food %></b> <br><br>
    <%= link_to "Edit", edit_user_path(user) %>
    <%= button_to "Delete", user, :method => :delete, data: {confirm: "Are you sure?"} %>
    <% end %>
</ul>