<h1><%= @user.name %></h1>

<p>
    <h2>Username:</h2> <b><%= @user.username %></b>
</p>

<p>
    <h2>Location:</h2> <b><%= @user.location %></b>
</p>

<p>
    <h2>Favorite Food:</h2> <b><%= @user.favorite_food %></b>
</p>

<p>
    <b>Your plates:</b> 
    <ul>
    <% @user.plates.map do |plate|%>
    <li><%= link_to plate.name, plate_path(plate) %></li>
    </ul>
    <% end %>
</p>

<%# <%= link_to "View users page", users_path %> 
<%= link_to "Create a Plate", new_plate_path %>