<h2>Add food here!</h2>

<%= form_for @food, method: :post do |f| %>
<b><%= f.label :name %></b>
<%= f.text_field :name %> <br>
<b><%= f.label "Plate Name" %></b>
<%= f.collection_select(:plate_id, Plate.all, :id, :name) %><br>
<%=  %>
<%= f.submit %>
<% end %>