<!DOCTYPE html>
<html>
  <head>
    <title>FavAFlav</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/nuclear/bulmaswatch.min.css">

  </head>

<body>
  <section class="section">
    <div class="content">
      <%= yield %>
    </div>
  </section>
</body>
</html>

<% if @user %>
<b><%= link_to "Logout", logout_path %></b>
<% end %>